*{
    padding:0;
    margin:0;
    scrollbar-width: none;
}

.container{
    height:100dvh;
    width:100dvw;
    /* background-color: antiquewhite; */
    display: flex;
    overflow: scroll;
    /* overflow-x: hidden; */
}

.left{
    position: fixed;
    left:0;
    top:0;
    height:100dvh;
    width:20dvw;
    background-color: #000000;
    color:white;
    border-right: 3px solid black;
    /* background-color: aqua; */
}

.middle{
    margin-left:20dvw;
    height:100dvh;
    width:50dvw;
    /* color:white; */
    display: flex;
    position: relative;     
    flex-direction: column;
    background-color: #000000;
    flex-direction: column;
}

.top{
    height:17dvh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #232323;
    overflow: scroll;
    overflow-y: hidden;
    color:white;
}

.story{
    height:80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    margin:10px;
}

.story:hover{
    cursor: pointer;
    color:grey;

}

.pic{
    color: white;
    /* background-color: white; */
    border-radius: 20px;
    height:40px;
    width:40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story i{
    font-size: 30px;
}

.main {
    margin-top: 32px;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    gap: 20px;                
    width: 100%;
    /* background-color: whitesmoke; */
    padding: 20px 0;
    height: auto;             
    overflow-y: auto;          
}


/* .box{
    height: 400px;
    width:400px;
    border: 2px solid black;
} */

.box {
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    /* overflow: hidden; */
    height: 100%;
}
.like:hover{
    color:palevioletred;
    transition: all 0.7s;
    background-color: rgb(235, 172, 193);
    border-radius: 20px;

}
.comm:hover{
    color:blue;
    transition: all 0.7s;
    background-color: rgb(106, 123, 187);
    border-radius: 20px;

}
.share:hover{
    color:palegoldenrod;
    transition: all 0.7s;
    background-color:  grey;
    border-radius: 20px;

}


.center{
    height:300px;
    width:100%;
}

.cen{
    height:100%;
    width:100%;
}

.bottom{
    display: flex;
    align-items: center;
}

.siz{
    padding:5px;
    margin: 5px;
    font-size: 20px;
}

.upper{
    height:50px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.uppersec{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:10px
}

.logs{
    height:40px;
    width:40px;
    border:2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.logs i{
    font-size: 30px;
}

.logs:hover{
    background-color: grey;
    /* border-bottom: 2px solid red; */
    transition: all 0.5s ease;
    cursor: pointer;
    color:white;
}

.up-but{
    /* position: relative; */
      /* left:250px; */
      padding: 20px;
}

.up-but button:hover{
    transition: all 0.5s ease;
    background-color: grey;
    color:white;
}
body{
    /* background-color: black; */
    /* color: white; */
}
button{
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.right{
    height:100dvh;
    width:30dvw;
    background-color: #000000; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile1{
    height:auto;
    width:100%;
    /* background-color: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro:hover{
    
    transition: all 0.7s ease;
    border-bottom: 5px solid red;
    background-color: gray;
    /* color:black; */
}

.profile2{
    height:auto;
    width:100%;
    /* border: 2px solid black; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right b{
    font-size:20px;
    color: white;
    /* text-decoration: underline; */
}

.pro{
    height:30px;
    width:70%;
    background-color: #222222;
    /* background-color: rgb(217, 217, 217); */
    color:white;
    border:2px solid whitesmoke;
    display: flex;
    align-items: center;
    margin:10px;
    padding: 20px;
     border-radius: 45px;
}

.follow{
    position: relative;
    left:100px;
    height:auto;
    display: flex;
    align-self: center;
    width:40px;
}

.follow:hover{
    transition: 0.3s all ease;
     cursor: pointer;
}

.logo{
    height:50px;
    width:50px;
    border:2px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:10px;
}

.text{
    position: relative;
    left:10px;
}

.logo i{
    font-size: 30px;
}

.opts{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.opts i{
    font-size: 30px;
}

.left-opt{
    display: flex;
    align-items: center;
    justify-content: start;
    height:50px;
    width:80%;
    border: 2px solid black;
    border-radius: 45px;
    /* margin-top:20px; */
}

.left-opt:hover{
    transition: all 0.5s ease;
    background-color: gray;
    border-bottom: 3px solid red;
}


.icons{
     display: flex;
     align-items: center;
}

.icons i{
    position: relative;
    left:10px;
    display: flex;
     align-items: center;
    font-size: 30px;
}

.left-opt b{
    position: relative;
    left:10px;
    font-size: 15px;
}
